

.dots-bg::before {
    content: "";
    height: 100%;
    width: 100%;
    background: url('../assets/img/dot_pattern.png');
    left: 0;
    top: 0;
    position: absolute;
    background-repeat: repeat;
}



